<footer class=" text-white pt-5 pb-4" style="background-color: grey ;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h6 class="text-uppercase fw-bold mb-4 small">Product</h6>
        <ul class="list-unstyled text-secondary small">
          <li class="mb-2"><a href="/scan" class="text-decoration-none text-light opacity-75">Barcode Scanner</a></li>
          <li class="mb-2"><a href="/dashboard" class="text-decoration-none text-light opacity-75">Dashboard</a></li>
          <li class="mb-2"><a href="/products" class="text-decoration-none text-light opacity-75">Products DB</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4 text-center">
        <h6 class="text-uppercase fw-bold mb-4 small">Company</h6>
        <ul class="list-unstyled small">
          <li class="mb-2"><a href="/about" class="text-decoration-none text-light opacity-75">About Us</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-light opacity-75">Blog</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-light opacity-75">Careers</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4 text-end">
        <h6 class="text-uppercase fw-bold mb-4 small">Legal</h6>
        <ul class="list-unstyled small">
          <li class="mb-2"><a href="#" class="text-decoration-none text-light opacity-75">Privacy Policy</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-light opacity-75">Terms of Use</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-light opacity-75">Contact Info</a></li>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-center gap-3 mt-4">
        <a href="https://linkedin.com/in/vishesh-srivastava-29572233a" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="mailto:789vishesh789@gmail.com" class="social-icon"><i class="fas fa-envelope"></i></a>
    </div>
  </div>
</footer>